#container{
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: 0 auto;
    font-family: Helvetica;
}
button:focus {
    outline:0;
}
#middlerow{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
#controls{
    flex-basis: 150px;
    display: flex;
    flex-direction: column;
    padding-top: 28px;
}
#controls hr {
    width: 100%;
    border-color: #c0c0c02a;
    margin-bottom: 14px;
}
.controlsRow{
    min-height: 40px;
}
.controlsRow label, .controlsRow input{
    font-size: 12px;
}
.controlsRow.controlsInput{
    padding-top: 10px;
    padding-bottom: 10px;
}
.controlsRow input{
    border-radius: 5px;
    padding: 8px 16px;
    color: #75a8d3;
    border: 2px solid #75a8d3;
}
.controlsRow label {
    color: #75a8d3;
}
.controlsRow input:disabled, .controlsRow label.disabled {
    color: #c0c0c0;
}
.controlsRow input:disabled {
    border: 2px solid #c0c0c0;
}
.controlsRow button{
    padding: 8px 16px;
    border-radius: 5px;
    color: #75a8d3;
    border: 2px solid #75a8d3;
    background-color: #75a8d32b;
    cursor: pointer;
}
.controlsRow button:hover{
    background-color: #75a8d34a;
}
.controlsRow button:disabled{
    color: #c0c0c0;
    border: 2px solid #c0c0c0;
    background-color: #c0c0c02b;
    cursor: default;
}
#grid{
    display: inline-block;
    background-color: white;
    border: 2px solid black;
}
#gridHolder {
    flex-grow: 1;
}
.gridRow{
    display: flex;
    flex-direction: row;
}
.gridCell{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 3px;
    margin: 0px;
    background-color: white;
    font-family: sans-serif;
    background-size: contain;
}
::selection {
    background: transparent;
}
.gridCell:hover{
    background-color: beige;
    cursor: pointer;
}
.gridCell.selected {
    color: white;
    background-color: #75a8d3 ! important;
}
.gridCell.robot {
    background-image: url(../images/robot.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px 30px;
    color: white;
    font-size: 10px;
}
.gridCell.terminal {
    background-image: url(../images/terminal.png);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-size: 16px 16px;
}
.gridCell.block {
    background-color: grey;
    color: grey;
    opacity: 1;
}
#boxpicker{
    flex-basis: 10em;
}
header, section {
    padding: 1em;
}
#sidebar {
    padding: 1em;
    flex-basis: 150px;
}
#sidebar section {
    border: none;
    padding: 0;
}
#sidebar ul{
    padding: 0;
    list-style-type: none;
    margin-top: 12px;
}
#sidebar h4 {
    font-weight: normal;
    text-decoration: underline;
    margin: 12px 0 0 0;
}
#sidebar li.finished {
    color: #aaa;
}
#sidebar li {
    padding: 4px 0;
    font-size: 14px;
}
#configs li {
    text-decoration: underline;
    color: #75a8d3;
    cursor: pointer;
}
#scoreDisplay ul {
    padding: 0;

}
