#container{
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;
}
#middlerow{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
#grid{
    display: inline-block;
    background-color: white;
    border: 2px solid black;
}
#gridHolder {
    flex-grow: 1;
}
.gridRow{
    display: flex;
    flex-direction: row;
}
.gridCell{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 3px;
    margin: 0px;
    background-color: white;
    font-family: sans-serif;
}
::selection {
    background: transparent;
}
.gridCell:hover{
    background-color: beige;
    cursor: pointer;
}
.gridCell.selected {
    color: white;
    background-color: #75a8d3;
}
#boxpicker{
    flex-basis: 10em;
}
header, section {
    padding: 1em;
}
header, section {
    border: 1px solid black;
}